<template>
    <form>
        <!--Label: Invoice Number, Attributes: invoice-->
        <div class=" form-group" :class="{ 'has-error' : errors.invoice }">
            <label for="invoice" class="control-label">Invoice Number</label>
            <div>
                <input type="text" class="form-control" id="invoice"
                       v-model="invoice"
                       autocomplete="off">
                <div class="help-block" v-if="errors.invoice">
                    <strong>{{ errors.invoice.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-success" @click.prevent="updateInvoice">
                <i class="fa fa-check"></i> Update</button>
        </div>
    </form>
</template>

<script>

    export default {
        name: "updateinvoice",
        props: ['invoiceid'],
        data() {
            return {
                errors: '',
                invoice: '',
                id: this.invoiceid
            }
        },
        methods: {
            updateInvoice() {
                axios.patch('/admin/payments/'+this.invoiceid,this.$data).then(response=>{
                    this.invoice = '';
                    location.window.reload();
                }).catch(error=>{

                });
            }
        },
    }
</script>

<style scoped>

</style>