<template>
    <div>   <!--Label: Date, Attributes: date-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.date }">
            <label for="date" class="control-label">Date</label>
            <div>
                <input type="date" class="form-control" id="date"
                       v-model="date"
                       autocomplete="off">
                <div class="help-block" v-if="errors.date">
                    <strong>{{ errors.date.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Guard, Attributes: guard-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.guard }">
            <label for="guard" class="control-label">Guard</label>
            <div>
                <select class="form-control" v-model="guards" id="guard" name="guard">
                    <option disabled></option>
                    <option v-for="guar in guard" :value="guar.id">{{ guar.name }}</option>

                </select>
                <div class="help-block" v-if="errors.guard">
                    <strong>{{ errors.guard.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: To, Attributes: to-->
        <div class="col-md-6 form-group" :class="{ 'has-error' : errors.to }">
            <label for="to" class="control-label">To</label>
            <div>
                <select class="form-control" v-model="to" id="to" name="to" @change="guardchanged()">
                    <option disabled></option>
                    <option v-for="clien in client" :value="clien.id">{{ clien.name }}</option>
                </select>
                <div class="help-block" v-if="errors.to">
                    <strong>{{ errors.to.toString() }}</strong>
                </div>
            </div>
            <i class="fa fa-spinner fa-spin" v-if="changingGuard"></i>
            <i class="fa fa-exchange" @click="transfer(all.id)"></i>
        </div>

        <div class="form-group col-md-12">
            <ol>
                <li v-for="all in guardsto">
                    {{ all.name }}
                    <i class="fa fa-exchange" @click="transfer(all.id)"></i>
                </li>
            </ol>
        </div>

    </div>
</template>

<script>
    export default {
        name: "transfer",
        props: {
            client: {
                type: Array,
                default: []
            },
            guard: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                errors: '',
                date: '',
                guards: '',
                from: '',
                to: '',
                changingGuard: false,
                guardsto: []
            }
        },
        methods: {
            guardchanged: function () {
                this.guardsto = '';
                this.changingGuard = true;
                axios.get('/api/guards/' + this.to).then(response => {
                    this.changingGuard = false;
                    this.guardsto = response.data;
                }).catch(error => {
                    this.changingGuard = false;

                });

            },
            transfer(name) {
                axios.post('/admin/guard/transfer', {
                    firstguard: this.guards,
                    guard: name,
                    to: this.to,
                    date: this.date
                }).then(response => {

                }).catch(error => {
                    this.errors = error.response.data.errors;
                });

            }
        },
    }
</script>

<style scoped>

</style>