<template>
    <div>
        <div class="col-md-6">
            <form action="">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input class="form-control" id="date" type="date" v-model="date" required>
                </div>

            </form>
        </div>
        <div class="col-md-6">
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
                        @click.prevent="addAttendance">
                    Save
                </button>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Guard Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="guard in guards">
                <td scope="row">{{ guard.employmentID }}</td>
                <td>{{ guard.name }}
                    <br>
                    <span class="text-sm-left">{{ guard.client.name}}</span>
                </td>
                <td>
                    <input type="checkbox" :value="guard.id" :id="guard.id" v-model="soldier">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
                @click.prevent="addAttendance"
        >
            Save
        </button>
    </div>

</template>

<script>
    export default {
        name: "attendance",
        props: ['guards'],
        data() {
            return {
                soldier: [],
                date: ''
            }
        },
        methods: {
            addAttendance() {
                axios.post('/admin/attendance', this.$data).then(response=>{
                    console.log(response)
                }).catch(error=>{

                });
            }
        },
    }
</script>

<style scoped>

</style>