<template>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Guards</th>
                <th>Start Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(client,index) in clients">
                <td>{{ index + 1}}</td>
                <td>
                    <a :href="'/admin/client/'+client.id">
                    {{ client.name }}
                    </a>
                </td>
                <td>{{ client.phonenumber}}</td>
                <td>{{ client.guards}}</td>
                <td>{{ client.startDate}}</td>
                <td>
                    <i class="fa fa-pencil"></i>
                    <i class="fa fa-trash-o text-danger" v-if="!deletingClient[index]" @click.prevent="deleteClient(index)"></i>
                    <i class="fa fa-spin fa-spinner" v-else></i>
                </td>
            </tr>
            </tbody>
        </table>
        <p>Showing </p>
        <div class="pull-right">

        </div>
    </div>

</template>

<script>
    export default {
        name: "index",
        props: {
            clients: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                deletingClient: []
            }
        },
        methods: {
            deleteClient(index) {
                Vue.set(deletingClient,index,true);
            }
        },
    }
</script>

<style scoped>

</style>